.chessBoard {
  display: inline-block;
  border: 2px solid black;
  cursor: pointer;
}
.chessBoard div {
  line-height: 1px;
}
.chessBoard span {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-color: white;
}

body {
  font-family: 'Roboto', sans-serif;
}
